Load POC.DataPipeline/pipeline-content.json
{
  "properties": {
    "activities": [
      {
        "type": "Lookup",
        "typeProperties": {
          "source": {
            "type": "DelimitedTextSource",
            "storeSettings": {
              "type": "LakehouseReadSettings",
              "recursive": true,
              "enablePartitionDiscovery": false
            },
            "formatSettings": {
              "type": "DelimitedTextReadSettings"
            }
          },
          "datasetSettings": {
            "type": "DelimitedText",
            "typeProperties": {
              "location": {
                "type": "LakehouseLocation",
                "folderPath": "Control",
                "fileName": "Control.csv"
              },
              "columnDelimiter": ",",
              "quoteChar": "\"",
              "escapeChar": "\\",
              "firstRowAsHeader": true
            },
            "schema": [],
            "linkedService": {
              "properties": {
                "type": "Lakehouse",
                "typeProperties": {
                  "artifactId": "1e454a12-94ba-48e2-8213-a03cd463de89",
                  "workspaceId": "00000000-0000-0000-0000-000000000000",
                  "rootFolder": "Files"
                },
                "annotations": []
              },
              "name": "LH_Raw"
            },
            "annotations": []
          },
          "firstRowOnly": false
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "GetControl",
        "dependsOn": []
      },
      {
        "type": "ForEach",
        "typeProperties": {
          "items": {
            "value": "@activity('GetControl').output.value",
            "type": "Expression"
          },
          "activities": [
            {
              "type": "TridentNotebook",
              "typeProperties": {
                "notebookId": "be7143fd-d398-4f54-b8af-643749d777c2",
                "workspaceId": "00000000-0000-0000-0000-000000000000",
                "parameters": {
                  "InputRawBlobFile": {
                    "value": "@item().InputRawBlobFile",
                    "type": "string"
                  },
                  "OutputTrustedBlobFile": {
                    "value": "@item().OutputTrustedBlobFile",
                    "type": "string"
                  },
                  "OutputTrustedFileFormat": {
                    "value": "@item().OutputTrustedFileFormat",
                    "type": "string"
                  },
                  "OutputTrustedFileWriteMode": {
                    "value": "@item().OutputTrustedFileWriteMode",
                    "type": "string"
                  },
                  "KeyColumns": {
                    "value": "@item().KeyColumns",
                    "type": "string"
                  },
                  "TargetName": {
                    "value": "@item().TargetName",
                    "type": "string"
                  },
                  "Workspace": {
                    "value": "@item().Workspace",
                    "type": "string"
                  },
                  "Raw_Lakehouse": {
                    "value": "@item().Raw_Lakehouse",
                    "type": "string"
                  },
                  "Trusted_Lakehouse": {
                    "value": "@item().Trusted_Lakehouse",
                    "type": "string"
                  }
                }
              },
              "policy": {
                "timeout": "0.12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureInput": false,
                "secureOutput": false
              },
              "name": "RawToTrusted",
              "dependsOn": []
            }
          ]
        },
        "name": "ForEach1",
        "dependsOn": [
          {
            "activity": "GetControl",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "TridentNotebook",
        "typeProperties": {
          "notebookId": "a66eb174-d0fe-4795-8a01-dd0d08d014fc",
          "workspaceId": "00000000-0000-0000-0000-000000000000"
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Load_DimCustomer",
        "dependsOn": [
          {
            "activity": "ForEach1",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "TridentNotebook",
        "typeProperties": {
          "notebookId": "5ea5adf0-dca0-4372-ba88-d2c0eebc136b",
          "workspaceId": "00000000-0000-0000-0000-000000000000"
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Load_DimDate",
        "dependsOn": [
          {
            "activity": "ForEach1",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "TridentNotebook",
        "typeProperties": {
          "notebookId": "7c75842a-c497-4cb8-8b86-62aacc2528c9",
          "workspaceId": "00000000-0000-0000-0000-000000000000"
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Load_DimDeliveryMethod",
        "dependsOn": [
          {
            "activity": "ForEach1",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "TridentNotebook",
        "typeProperties": {
          "notebookId": "cee04648-aca7-4394-bacd-934bfc03ecd2",
          "workspaceId": "00000000-0000-0000-0000-000000000000"
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Load_DimSalePerson",
        "dependsOn": [
          {
            "activity": "ForEach1",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "TridentNotebook",
        "typeProperties": {
          "notebookId": "35660d3f-64bb-4e85-9ef2-ed3dbd8dee71",
          "workspaceId": "00000000-0000-0000-0000-000000000000"
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Load_FactSales",
        "dependsOn": [
          {
            "activity": "Load_DimSalePerson",
            "dependencyConditions": [
              "Succeeded"
            ]
          },
          {
            "activity": "Load_DimDeliveryMethod",
            "dependencyConditions": [
              "Succeeded"
            ]
          },
          {
            "activity": "Load_DimDate",
            "dependencyConditions": [
              "Succeeded"
            ]
          },
          {
            "activity": "Load_DimCustomer",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      }
    ]
  }
}